body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

input,
select {
  background: #fff;
  border: 1px solid #dfd7ca;
  border-radius: 2px;
  display: block;
  font-size: 11px;
  outline: none;
  padding: 3px;
  height: 24px;
}

table {
  border-collapse: collapse;
  color: #393a35;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  width: 100%;
}

tr:hover {
  background: #f8f5f0;
}

th,
td {
  border-bottom: 1px solid #dfd7ca;
  padding: 3px 0;
  text-align: center;
  max-width: 13vw;
}

th {
  white-space: nowrap;
}

th:last-child {
  border-right: 0;
}

.npm-gui {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
