.console {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

header {
  min-height: 26px;
}

.session {
  display: flex;
  flex: 1;
  padding-bottom: 0;
  padding-top: 15px;
  position: relative;
  width: 100%;
  transition: flex 1500ms ease-in-out, width 1000ms ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.session:hover {
  flex: 100;
  z-index: 2;
}

.sessionMenu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.session:hover > .sessionMenu {
  opacity: 1;
}

.session:hover.sessionFullscreen {
  width: 200%;
}

pre {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #dfd7ca;
  border-radius: 2px;
  color: #8e8c84;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
  overflow: auto;
  padding: 7px;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  flex: 1;
  margin: 0;
  white-space: pre-wrap;
}

.sessionError pre {
  background-color: #fff8f8;
  border-color: #d9534f;
}

.sessionClose pre {
  background-color: #fafff2;
  border-color: #79a736;
}

p {
  left: 7px;
  position: absolute;
  top: 7px;
  margin: 0;
}

header p {
  display: inline-block;
  margin: 0;
}

.right {
  float: right;
}
