.search {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  margin-left: -7.5px;
  margin-top: -7.5px;
  max-height: 34px;
  max-width: 120px;
  overflow: hidden;
  padding: 7.5px;
  position: absolute;
  transition: max-width 300ms, max-height 300ms;
  z-index: 1;
}

.searchOpen {
  border-color: #dfd7ca;
  max-height: 100%;
  max-width: 100%;
}

.form {
  margin-bottom: 6px;
  margin-top: 6px;
}

.form > input,
.form > select {
  display: inline-block;
  width: 7em;
  vertical-align: top;
}

.form > input:disabled,
.form > select:disabled {
  background: lightgray;
  cursor: not-allowed;
}

.tableContainer {
  max-height: 50vh;
  overflow-y: scroll;
}

.td {
  text-align: center;
}

.span {
  min-width: 45px;
  display: inline-block;
}
