.thSortable {
  cursor: pointer;
  user-select: none;
}

.thSortable:first-child {
  padding-left: 1.5em;
}

.thSortableIcon {
  position: absolute;
  margin-left: -1.2em;
}

.input,
.select {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  padding: 0;
}

.input {
  width: 4em;
}
