.tableContainer {
  border: 1px solid #dfd7ca;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: auto;
  flex: 1;
  position: relative;
}

.infoContainer {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.right {
  float: right;
}

.label {
  border-radius: 2px;
  color: #fff;
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.2em 0.4em;
}

.labelDanger {
  background: #d9534f;
}

.labelWarning {
  background: #ef5c0e;
}

.labelPrimary {
  background: #325d88;
}

.loading {
  margin-top: 10vh;
  text-align: center;
}

.missing {
  color: #d9534f;
}

.command {
  background: black;
  display: inline-block;
  color: white;
  padding: 6px;
  border-radius: 4px;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.processing {
  background: linear-gradient(-45deg, #dfd7ca, #fff);
  background-size: 200% 200%;
  animation: Gradient 2s ease infinite;
}
